/*style.css*/
body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
    height: 10em;
    padding: 5em;
    font-size: 2em;
    background-image: url("../imgs/fondo.jpg");
    background-size: cover;
    background-position: center;
}

.header h1 {
    margin: 0;
    font-weight: 400;
}

/* Product */

.products {
    width: 80%;
    margin: auto;
}

.products td {
    width: 50%;
    padding: 2em;
    max-width: 200px; /* Controla el tama침o m치ximo del contenedor */
}

.products img {
    width: 150px; /* Se ajusta el tama침o de las im치genes */
    height: auto;
    object-fit: contain;
    border: solid 1px #ddd;
}

/* Footer */

.footer {
    height: 3em;
    line-height: 3em;
    background-color: rgb(185, 112, 41);
    color: white;
    text-align: center;
    font-weight: 900;
}
